<html lang="en">
<!-- base safahat -->
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart House</title>
    <!-- load kardan bootstrap-css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    {% comment %} <meta http-equiv="refresh" content="5"> {% endcomment %}
    {% block meta %}
    
    {% endblock meta %}
</head>
{% block fire %}
<body style="background-color: #EEEEEE;">
{% endblock fire %}
    <div class="content">
      <section>
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <!-- ghesmate navbar site -->
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4" style="font-family: 'Vazir' !important;">
                <ol class="breadcrumb mb-0" style="left: 58%; position: relative;">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'logout' %}" class="btn btn-danger mr-2">خروج</a>
                    <a href="{% url 'home:index' %}" class="btn btn-info">خانه</a>
                    <a href="{% url 'home:send' %}" class="btn btn-success">ثبت‌خانه</a>
                    <a href="{% url 'home:send_device' %}" class="btn btn-primary">ثبت‌وسیله</a>
                    <a href="{% url 'home:listpacks' %}" class="btn btn-secondary">انتخاب‌پکیج</a>
                    <a href="{% url 'home:list_device' %}" class="btn btn-warning">کنترل‌خانه‌هوشمند</a>
                  </div>
                </ol>
              </nav>
            </div>
          </div>
          <div style="margin-top: 70px; direction: rtl; text-align: center; font-size: 2rem; color: #334155;">
            <p>
              «کنترل خانه هوشمند»
            </p>
          </div>
        <div style="margin-top: 5%; margin-bottom: 20%; direction: rtl;" class="container">
          <div class="row">
            <div class="col card" style="color: #198a19 !important;;background-color: white; padding-right: 5%; padding-left: 5%; padding-top: 1%; padding-bottom: 1%;">
              دما محیط حیوانات: {{lastData.temp2}}ºC  
            </div>
            <div class="col card" style="color: #198a19 !important;;background-color: white; padding-right: 5%; padding-left: 5%; padding-top: 1%; padding-bottom: 1%;">
              دما خانه: {{lastData.temp}}ºC  
            </div>
            <div class="col card" style="color: #5352ed; background-color: white; padding-right: 5%; padding-left: 5%; padding-top: 1%; padding-bottom: 1%;">
              رطوبت‌محیط‌حیوانات: %{{lastData.hum}}  
            </div>
            <div class="col card" style="color: #5352ed; background-color: white; padding-right: 5%; padding-left: 5%; padding-top: 1%; padding-bottom: 1%;">
              {% if lastData.isEarthHum %}
                رطوبت گلدان: خشک
              {% else %}
                رطوبت گلدان: مرطوب
              {% endif %}  
            </div>
          </div>
          <div class="row">
            <div class="col card" style="color: #c93c3c; background-color: white; padding-right: 5%; padding-left: 5%; padding-top: 1%; padding-bottom: 1%;">
              {% if lastData.is_fire %}
              حریق: شناسایی شد.
              {% else %}
              حریق: شناسایی نشد.
              {% endif %}   
            </div>
            <div class="col card" style="color: #c93c3c; background-color: white; padding-right: 5%; padding-left: 5%; padding-top: 1%; padding-bottom: 1%;">
              سطح کربن دی‌اکسید: {{lastData.gas}}ppm  
            </div>
            <div class="col card" style="font-size: 80%; color: #f0932b; background-color: white; padding-right: 5%; padding-left: 5%; padding-top: 1%; padding-bottom: 1%;">
              {% if lastData.motion %}
              وضعیت حرکت‌در محیط: شناسایی شد.
              {% else %}
              وضعیت حرکت‌در محیط:شناسایی نشد.
              {% endif %}
            </div>
            <div class="col card" style="color: #5352ed; background-color: white; padding-right: 5%; padding-left: 5%; padding-top: 1%; padding-bottom: 1%;">
            ارتفاع سطح آب استخر: cm25  
            </div>
          </div><br><br>
          {% if package_alert %}
          <div style="font-family: 'Vazir' !important;direction: rtl;" class="alert alert-danger alert-dismissible fade show" role="alert">
            <svg class="check_svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>.check_svg{fill:#c01c28}</style><path d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg>            <button style="margin-right: 95%;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            شما در قسمت پکیج‌ها، پکیج "انتخاب دستی" را انتخاب نکرده‌اید و دستورات شما در این صفحه اجرا <strong style="alert-link">نخواهد شد.</strong>
          </div>
          {% endif %}
          {% if motion_detected.status %}
          <div style="font-family: 'Vazir' !important;direction: rtl;" class="alert alert-danger alert-dismissible fade show" role="alert">
            <svg class="check_svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>.check_svg{fill:#c01c28}</style><path d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg>    در زمان خروج شما از خانه حرکت تشخیص داده شد.
            <button style="margin-right: 95%;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          {% if gasStatus %}
          <div style="font-family: 'Vazir' !important;direction: rtl;" class="alert alert-danger alert-dismissible fade show" role="alert">
            <svg class="check_svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>.check_svg{fill:#c01c28}</style><path d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg>    سطح گاز خانه شما خطرناک است.
            <button style="margin-right: 95%;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          <br>
          <div class="row justify-content-around">
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://static.vecteezy.com/system/resources/thumbnails/017/017/377/small_2x/chandelier-icon-design-free-vector.jpg" style="border-radius: 8px !important; width: 73%; position: relative; right: 13%; top: 18%;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">روشنایی سالن</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" name="status" class="form-check-input" type="checkbox" role="switch" id="status" {% if device1.status %}checked{% endif %}>
                        <input type="hidden" name="device" id="device1" value="{{ device1.id }}">
                        <input type="hidden" name="red" id="device1" value="255">
                        <input type="hidden" name="green" id="device1" value="255">
                        <input type="hidden" name="blue" id="device1" value="255">
                        <label class="form-check-label" for="device1">روشن/خاموش:</label>
                      </div>
                      <label for="data" class="form-label">شدت روشنایی:</label>
                      <input name="data" type="range" value="{{device1.data}}" min="0" max="255" class="form-range" id="data">
                    </div>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img style="right: 2%; top: 6%; position: relative;" src="https://img.pikbest.com/element_our/20230331/bg/5919b453a55f6.png" style="border-radius: 8px !important;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">روشنایی اتاق</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" name="status" class="form-check-input" type="checkbox" role="switch" id="status" {% if device2.status %}checked{% endif %}>
                        <input type="hidden" name="device" id="device2" value="{{ device2.id }}">
                        <input type="hidden" name="red" id="device2" value="255">
                        <input type="hidden" name="green" id="device2" value="255">
                        <input type="hidden" name="blue" id="device2" value="255">
                        <label class="form-check-label" for="device2">روشن/خاموش:</label>
                      </div>
                      <label for="data" class="form-label">شدت روشنایی:</label>
                      <input name="data" type="range" value="{{device2.data}}" min="0" max="255" class="form-range" id="data">
                    </div>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-content-around">
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img style="height: 44%; position: absolute; top: 25%; left: 68%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDFP4My8tfAII9m-zC5nSTaS2SJv6aGm5mBm2hO-PQNg&s" style="border-radius: 8px !important;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">روشنایی حیاط</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device3.status %}checked{% endif %}>
                        <input type="hidden" name="device" id="device3" value="{{ device3.id }}">
                        <input type="hidden" name="data" id="device3" value="255">
                        <label class="form-check-label" for="device3">روشن/خاموش:</label>
                      </div>
                      <label for="customRange1" class="form-label">شدت روشنایی قرمز:</label>
                      <input name="red" type="range" value="{{device3.red}}" min="0" max="255" class="form-range" id="data">
                      <label for="customRange1" class="form-label">شدت روشنایی آبی:</label>
                      <input name="blue" type="range" value="{{device3.blue}}" min="0" max="255" class="form-range" id="data">
                      <label for="customRange1" class="form-label">شدت روشنایی سبز:</label>
                      <input name="green" type="range" value="{{device3.green}}" min="0" max="255" class="form-range" id="data">
                    </div>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img style="height: 55%; position: absolute; top: 19%; left: 66%;" src="https://cdn3.vectorstock.com/i/1000x1000/22/07/tv-design-vector-5962207.jpg" style="border-radius: 8px !important;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">تلوزیون</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input type="hidden" name="device" id="device4" value="{{ device4.id }}">
                        <div style="position: relative; padding-top: 23%;">
                          <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device4.status %}checked{% endif %}>
                          <input type="hidden" name="red" id="device4" value="255">
                          <input type="hidden" name="green" id="device4" value="255">
                          <input type="hidden" name="blue" id="device4" value="255">
                          <label class="form-check-label" for="device4">روشن/خاموش:</label>
                          <input type="hidden" name="data" value="255" />
                        </div>
                      </div>
                    </div>
                      <br><br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-content-around">
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img style="height: 86%; position: absolute; top: 7%; left: 71%;" src="{% static 'img/vector-modern-black-electric-heater-260nw-348752501.webp' %}" style="border-radius: 8px !important;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">بخاری برقی</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device5.status %}checked{% endif %}>
                        <input type="hidden" name="device" id="device5" value="{{ device5.id }}">
                        <input type="hidden" name="red" id="device5" value="255">
                        <input type="hidden" name="green" id="device5" value="255">
                        <input type="hidden" name="blue" id="device5" value="255">
                        <label class="form-check-label" for="device5">روشن/خاموش:</label>
                        <input type="hidden" name="data" value="255" />
                      </div>
                    </div>
                      <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img style="height: 70%; position: absolute; top: 17%; left: 69%;width: 23%;height: 73%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7PCJZM1rdhFR7_8z8YzpucT7gemDihb5BX4vTKFxzuQ&s" style="border-radius: 8px !important;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">کولر</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device6.status %}checked{% endif %}>
                        <input type="hidden" name="device" id="device6" value="{{ device6.id }}">
                        <input type="hidden" name="red" id="device6" value="255">
                        <input type="hidden" name="green" id="device6" value="255">
                        <input type="hidden" name="blue" id="device6" value="255">
                        <label class="form-check-label" for="device6">روشن/خاموش:</label>
                        <input type="hidden" name="data" value="255" />
                      </div>
                    </div>
                      <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-content-around">
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://cdn3.vectorstock.com/i/1000x1000/04/07/red-car-vector-2170407.jpg" style="border-radius: 8px !important; position: relative; width: 73%;right: 12%;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">در پارکینگ</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device7.status %}checked{% endif %}>
                        <input type="hidden" name="red" id="device7" value="255">
                        <input type="hidden" name="green" id="device7" value="255">
                        <input type="hidden" name="blue" id="device7" value="255">
                        <input type="hidden" name="device" id="device7" value="{{ device7.id }}">
                        <label class="form-check-label" for="device7">روشن/خاموش:</label>
                        <input type="hidden" name="data" value="255" />
                      </div>
                    </div>
                      <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{% static 'img/restaurant-thermo-flask-tea-icon-simple-vector-design-editable-using-commercial-purposes-227834012.webp' %}" style="border-radius: 8px !important; position: relative; width: 73%; top:1%; right:18%" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">چای‌ساز</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device8.status %}checked{% endif %}>
                        <input type="hidden" name="device" id="device8" value="{{ device8.id }}">
                        <input type="hidden" name="red" id="device3" value="255">
                        <input type="hidden" name="green" id="device3" value="255">
                        <input type="hidden" name="blue" id="device3" value="255">
                        <label class="form-check-label" for="device8">روشن/خاموش:</label>
                        <input type="hidden" name="data" value="255" />
                      </div>
                    </div>
                    <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-content-around">
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://img.freepik.com/free-vector/flat-houseplant-collection_23-2148899678.jpg" style="border-radius: 8px !important;position: relative; top: 5%; width: 74%;right: 12%;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">آبیاری گلدان ها</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device9.status %}checked{% endif %}>
                        <input type="hidden" name="device" id="device9" value="{{ device9.id }}">
                        <label class="form-check-label" for="device9">روشن/خاموش:</label>
                        <input type="hidden" name="red" id="device3" value="255">
                        <input type="hidden" name="green" id="device3" value="255">
                        <input type="hidden" name="blue" id="device3" value="255">
                        <input type="hidden" name="data" value="255" />
                      </div>
                    </div>
                    <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://img.freepik.com/premium-vector/freshwater-fish-aquarium-concept-indoor-home-aquaria-vector-design-pet-vet-animal-shelter-four_135661-1445.jpg?size=338&ext=jpg&ga=GA1.1.1826414947.1699401600&semt=ais" style="border-radius: 8px !important; position: relative; top: 2%;width: 79%; right: 11%;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">افزایش سطح آب استخر</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device10.status %}checked{% endif %}>
                        <input type="hidden" name="device" id="device10" value="{{ device10.id }}">
                        <label class="form-check-label" for="device10">روشن/خاموش:</label>
                        <input type="hidden" name="red" id="device3" value="255">
                        <input type="hidden" name="green" id="device3" value="255">
                        <input type="hidden" name="blue" id="device3" value="255">
                        <input type="hidden" name="data" value="255" />
                      </div>
                    </div>
                    <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-content-around">
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://media.istockphoto.com/id/1272719774/vector/handle.jpg?s=612x612&w=0&k=20&c=XrspKkAsoe4hZ1ZC9iSj6CPk6Ft4SDoyS9Pksjl7emE=" style="border-radius: 8px !important; position: relative; top: 6%; width: 75%; right: 12%;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">قفل درب ورودی</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device12.status %}checked{% endif %}>
                        <input type="hidden" name="red" id="device3" value="255">
                        <input type="hidden" name="green" id="device3" value="255">
                        <input type="hidden" name="blue" id="device3" value="255">
                        <input type="hidden" name="device" id="device12" value="{{ device12.id }}">
                        <label class="form-check-label" for="device12">روشن/خاموش:</label>
                        <input type="hidden" name="data" value="255" />
                      </div>
                    </div>
                    <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://cdn4.vectorstock.com/i/1000x1000/86/88/set-of-home-animals-pets-vector-15498688.jpg" style="border-radius: 8px !important; position: relative; top: 6%; width: 75%; right: 12%;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">غذا حیوانات</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device11.status %}checked{% endif %}>
                        <input type="hidden" name="red" id="device3" value="255">
                        <input type="hidden" name="green" id="device3" value="255">
                        <input type="hidden" name="blue" id="device3" value="255">
                        <input type="hidden" name="device" id="device11" value="{{ device11.id }}">
                        <label class="form-check-label" for="device11">روشن/خاموش:</label>
                        <input type="hidden" name="data" value="255" />
                      </div>
                    </div>
                    <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
          </div>
          <br>
          <dive style="margin-right:1%" class="row justify-content-around">
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://img.freepik.com/premium-vector/picnic-gas-stove-white-background-vector-illustration-cartoon_764382-6173.jpg" style="border-radius: 8px !important; position: relative; top: 6%; width: 75%; right: 12%;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">ماهیتابه برقی</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device13.status %}checked{% endif %}>
                        <input type="hidden" name="red" id="device3" value="255">
                        <input type="hidden" name="green" id="device3" value="255">
                        <input type="hidden" name="blue" id="device3" value="255">
                        <input type="hidden" name="device" id="device13" value="{{ device13.id }}">
                        <label class="form-check-label" for="device13">روشن/خاموش:</label>
                        <input type="hidden" name="data" value="255" />
                      </div>
                    </div>
                    <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
            </div>
            <div class="card col-6" style="max-width: 540px; border-radius: 8px !important; margin-right:6%">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5-PYVDLCEWyxEnogoH_FIIRX4TtjHuBnjLHDykQRXYw&s" style="border-radius: 8px !important; position: relative; top: 14%; width: 75%; right: 16%;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <form action="{% url 'home:post_device' %}" method="get">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Vazir' !important;">در پنجره</h5>
                      <div class="card-text"><div class="form-check form-switch">
                        <input name="status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if device14.status %}checked{% endif %}>
                        <input type="hidden" name="device" id="device14" value="{{ device14.id }}">
                        <label class="form-check-label" for="device14">روشن/خاموش:</label>
                        <input type="hidden" name="data" value="255" />
                        <input type="hidden" name="red" id="device3" value="255">
                        <input type="hidden" name="green" id="device3" value="255">
                        <input type="hidden" name="blue" id="device3" value="255">
                      </div>
                    </div>
                    <br>
                      <p class="card-text"><small class="text-body-secondary"><button type="submit" class="btn btn-primary">ثبت تغییرات</button></small></p>
                    </div>  
                  </form>
                </div>
              </div>
          </div>
          <br>
          </div>
        </div>
      </section>
    </div>
    <!-- include kardan footer site -->
    {% include "home/footer.html" %}
    <!-- load kardan bootstrap-script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
</body>
</html>